#!/bin/bash

export BRV_LOG_LEVEL=DEBUG

export BRV_CERT_FILE=tls.cert
export BRV_KEY_FILE=tls.key
export BRV_CA_FILE=tls.ca

export PROTOC=protoc

# export TZ=Asia/Tehran
# export DOWNLOADER="https_proxy=http://127.0.0.1:8118 curl -o"
